In [4]:
import ranking
import salvar_resultados as sr
import funcoes_st as fst

import pandas as pd
import numpy as np
import string

import time

In [ ]:
#arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']
#arquivos = ['ale_1_1']
#arquivos = ['ale_5_1']
arquivos = ['hn_1_1']
#arquivos = ['hn_5_1']

lista_df_treino = []
lista_df_val = []
lista_df_teste = []
for arquivo in arquivos:

    df_treino = pd.read_csv(f"Dados/Datasets/Treino-Validação/Treino/{arquivo}_treino.csv", dtype = {'ean_1': str, 'ean_2': str})
    df_val = pd.read_csv(f"Dados/Datasets/Treino-Validação/Validação/{arquivo}_validação.csv", dtype = {'ean_1': str, 'ean_2': str})
    df_teste = pd.read_csv(f"Dados/Datasets/Teste/{arquivo}_teste.csv", dtype = {'ean_1': str, 'ean_2': str})
    lista_df_treino.append(df_treino)
    lista_df_val.append(df_val)
    lista_df_teste.append(df_teste)

# Usando os modelos ST

In [ ]:
flag_st = True
if flag_st == True:

    nome_modelo, apelido_modelo = fst.setar_modelo(2)
    #tam = 51

    dir_metricas = f"Dados/Resultados/Ranqueado/ST-{apelido_modelo}"

    for nome, df_treino, df_val, df_teste in zip(arquivos, lista_df_treino, lista_df_val, lista_df_teste):

        '''df_teste = df_teste[:tam]
        df_treino = df_teste[:tam]
        df_val = df_teste[:tam]'''

        df_concat, df_matches = ranking.criar_df_teste(df_teste, "titulo_1", "titulo_2", 'titulo')
        
        inicio_tempo = time.time()
        embedding = fst.pipeline_st(df_treino, df_val, df_concat, nome_modelo)
        resultado = ranking.calcular_dis_2_vetores_cond(embedding, df_matches)

        final_tempo = time.time()

        # adicionando o tempo que demorou para o algoritmo rodar
        ranking.calcular_tempo(df_matches, inicio_tempo, final_tempo)

        # calcular acuracia_k e match rank
        indices, valores = ranking.calcular_metricas(df_matches, df_concat, resultado)

        #salvar métricas
        sr.salvar_resultado(nome, df_matches, dir_metricas)
        sr.salvar_resultado_categoria(nome, df_matches, dir_metricas)

In [ ]:
    a

# Resultados

In [5]:
arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']

In [6]:
def retornar_resultados(metodo):
    
    lista_df_resultado = []
    for arquivo in arquivos:

        df_r = pd.read_csv(f"Dados/Resultados/Ranqueado/{metodo}/{arquivo}_métricas.csv")
        lista_df_resultado.append(df_r)

    return lista_df_resultado

## ST-dbm-v1

In [9]:
metodo = "ST-dbm-v1"
lista_resultado_dbm_v1 = retornar_resultados(metodo)

### ale_1_1

In [10]:
lista_resultado_dbm_v1[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  548.000000  548.000000  548.000000  548.000000    548.000000
mean     0.766423    0.972628    0.994526    3.419708      0.839248
std      0.423492    0.163315    0.073854   26.138762      0.301634
min      0.000000    0.000000    0.000000    1.000000      0.001715
25%      1.000000    1.000000    1.000000    1.000000      1.000000
50%      1.000000    1.000000    1.000000    1.000000      1.000000
75%      1.000000    1.000000    1.000000    1.000000      1.000000
max      1.000000    1.000000    1.000000  583.000000      1.000000

### ale_5_1

In [11]:
lista_resultado_dbm_v1[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

               k-1         k-10         k-50   match_rank  1/match_rank
count  1658.000000  1658.000000  1658.000000  1658.000000   1658.000000
mean      0.950543     0.989144     0.998191     1.639928      0.962344
std       0.216886     0.103658     0.042511     9.458802      0.168676
min       0.000000     0.000000     0.000000     1.000000      0.003106
25%       1.000000     1.000000     1.000000     1.000000      1.000000
50%       1.000000     1.000000     1.000000     1.000000      1.000000
75%       1.000000     1.000000     1.000000     1.000000      1.000000
max       1.000000     1.000000     1.000000   322.000000      1.000000

### hn_1_1

In [12]:
lista_resultado_dbm_v1[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  584.000000  584.000000  584.000000   584.000000    584.000000
mean     0.804795    0.912671    0.962329    20.320205      0.839258
std      0.396699    0.282558    0.190563   130.945310      0.335148
min      0.000000    0.000000    0.000000     1.000000      0.000468
25%      1.000000    1.000000    1.000000     1.000000      1.000000
50%      1.000000    1.000000    1.000000     1.000000      1.000000
75%      1.000000    1.000000    1.000000     1.000000      1.000000
max      1.000000    1.000000    1.000000  2135.000000      1.000000

### hn_5_1

In [13]:
lista_resultado_dbm_v1[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

               k-1         k-10         k-50   match_rank  1/match_rank
count  1181.000000  1181.000000  1181.000000  1181.000000   1181.000000
mean      0.981372     0.986452     0.993226     7.745131      0.983039
std       0.135266     0.115653     0.082059   170.571880      0.124249
min       0.000000     0.000000     0.000000     1.000000      0.000173
25%       1.000000     1.000000     1.000000     1.000000      1.000000
50%       1.000000     1.000000     1.000000     1.000000      1.000000
75%       1.000000     1.000000     1.000000     1.000000      1.000000
max       1.000000     1.000000     1.000000  5790.000000      1.000000