# Bibliotecas

In [ ]:
import ranking
import salvar_resultados as sr

import pandas as pd
import tensorflow as tf
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

import time

# Dataset

In [ ]:
#arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']
#arquivos = ['ale_1_1']
#arquivos = ['ale_5_1']
#arquivos = ['hn_1_1']
arquivos = ['hn_5_1']

lista_df_treino = []
lista_df_teste = []
for arquivo in arquivos:

    df_treino = pd.read_csv(f"Dados/Datasets/Treino/{arquivo}_treino.csv", dtype = {'ean_1': str, 'ean_2': str})
    df_teste = pd.read_csv(f"Dados/Datasets/Teste/{arquivo}_teste.csv", dtype = {'ean_1': str, 'ean_2': str})
    lista_df_treino.append(df_treino)
    lista_df_teste.append(df_teste)

## Funções

In [ ]:
def calcular_embedding(modelo, texto):

    #embedding = modelo.encode(texto)
    embedding = modelo(texto)

    return embedding


def pipeline_usem(df):
    
    # iniciando o modelo
    modelo = hub.load("https://tfhub.dev/google/universal-sentence-encoder-multilingual/3")
    
    # Calculando embeddings
    embedding = df.apply(lambda linha: calcular_embedding(modelo, linha['titulo']), axis = 1)

    return embedding

## Universal Sentence Encoder Multilingual

In [ ]:
flag_usem = True
if flag_usem == True:

    dir_metricas = f"Dados/Resultados/Ranqueado/USEM"

    #tam = 10
    for nome, df_teste in zip(arquivos, lista_df_teste):

        #df_teste = df_teste[:tam]

        df_concat, df_matches = ranking.criar_df_teste(df_teste, "titulo_1", "titulo_2", 'titulo')

        inicio_tempo = time.time()
        embedding = pipeline_usem(df_concat)
        resultado = ranking.calcular_dis_2_vetores_cond(embedding, df_matches)

        final_tempo = time.time()

        # adicionando o tempo que demorou para o algoritmo rodar
        ranking.calcular_tempo(df_matches, inicio_tempo, final_tempo)

        # calcular acuracia_k e match rank
        indices, valores = ranking.calcular_metricas(df_matches, df_concat, resultado)

        #salvar métricas
        sr.salvar_resultado(nome, df_matches, dir_metricas)
        sr.salvar_resultado_categoria(nome, df_matches, dir_metricas)

In [ ]:
    a

# Resultados

In [6]:
arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']

lista_df_resultado = []
for arquivo in arquivos:

    df_r = pd.read_csv(f"Dados/Resultados/Ranqueado/USEM/{arquivo}_métricas.csv")
    lista_df_resultado.append(df_r)

ale_1_1

In [7]:
lista_df_resultado[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  458.000000  458.000000  458.000000  458.000000    458.000000
mean     0.336245    0.705240    0.875546   23.528384      0.465419
std      0.472940    0.456433    0.330460   75.333368      0.409161
min      0.000000    0.000000    0.000000    1.000000      0.001050
25%      0.000000    0.000000    1.000000    1.000000      0.071429
50%      0.000000    1.000000    1.000000    3.000000      0.333333
75%      1.000000    1.000000    1.000000   14.000000      1.000000
max      1.000000    1.000000    1.000000  952.000000      1.000000

ale_5_1

In [8]:
lista_df_resultado[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  631.000000  631.000000  631.000000   631.000000    631.000000
mean     0.259905    0.651347    0.851030    41.088748      0.390128
std      0.438930    0.476922    0.356341   126.665282      0.391598
min      0.000000    0.000000    0.000000     1.000000      0.000726
25%      0.000000    0.000000    1.000000     1.000000      0.045455
50%      0.000000    1.000000    1.000000     4.000000      0.250000
75%      1.000000    1.000000    1.000000    22.000000      1.000000
max      1.000000    1.000000    1.000000  1377.000000      1.000000

hn_1_1

In [9]:
lista_df_resultado[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  530.000000  530.000000  530.000000  530.000000    530.000000
mean     0.286792    0.683019    0.881132   26.545283      0.424934
std      0.452691    0.465740    0.323939   74.545243      0.394945
min      0.000000    0.000000    0.000000    1.000000      0.001366
25%      0.000000    0.000000    1.000000    1.000000      0.062500
50%      0.000000    1.000000    1.000000    3.000000      0.333333
75%      1.000000    1.000000    1.000000   16.000000      1.000000
max      1.000000    1.000000    1.000000  732.000000      1.000000

hn_5_1

In [10]:
lista_df_resultado[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  756.000000  756.000000  756.000000  756.000000    756.000000
mean     0.234127    0.641534    0.833333   41.092593      0.373084
std      0.423732    0.479867    0.372925  101.745036      0.380570
min      0.000000    0.000000    0.000000    1.000000      0.001019
25%      0.000000    0.000000    1.000000    2.000000      0.041667
50%      0.000000    1.000000    1.000000    5.000000      0.200000
75%      0.000000    1.000000    1.000000   24.000000      0.500000
max      1.000000    1.000000    1.000000  981.000000      1.000000