# Bibliotecas

In [1]:
import ranking
import salvar_resultados as sr
import imprimir_resultados as ir

import pandas as pd
import tensorflow as tf
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

import time

# Dataset

In [ ]:
#arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']
#arquivos = ['ale_1_1']
#arquivos = ['ale_5_1']
#arquivos = ['hn_1_1']
arquivos = ['hn_5_1']

lista_df_treino = []
lista_df_teste = []
for arquivo in arquivos:

    df_treino = pd.read_csv(f"Dados/Datasets/Treino/{arquivo}_treino.csv", dtype = {'ean_1': str, 'ean_2': str})
    df_teste = pd.read_csv(f"Dados/Datasets/Teste/{arquivo}_teste.csv", dtype = {'ean_1': str, 'ean_2': str})
    lista_df_treino.append(df_treino)
    lista_df_teste.append(df_teste)

## Funções

In [ ]:
def calcular_embedding(modelo, texto):

    #embedding = modelo.encode(texto)
    embedding = modelo(texto)

    return embedding


def pipeline_usem(df):
    
    # iniciando o modelo
    modelo = hub.load("https://tfhub.dev/google/universal-sentence-encoder-multilingual/3")
    
    # Calculando embeddings
    embedding = df.apply(lambda linha: calcular_embedding(modelo, linha['titulo']), axis = 1)

    return embedding

## Universal Sentence Encoder Multilingual

In [ ]:
flag_usem = True
if flag_usem == True:

    dir_metricas = f"Dados/Resultados/Ranqueado/USEM"

    #tam = 10
    for nome, df_teste in zip(arquivos, lista_df_teste):

        #df_teste = df_teste[:tam]

        df_concat, df_matches = ranking.criar_df_teste(df_teste, "titulo_1", "titulo_2", 'titulo')

        inicio_tempo = time.time()
        embedding = pipeline_usem(df_concat)
        resultado = ranking.calcular_dis_2_vetores_cond(embedding, df_matches)

        final_tempo = time.time()

        # adicionando o tempo que demorou para o algoritmo rodar
        ranking.calcular_tempo(df_matches, inicio_tempo, final_tempo)

        # calcular acuracia_k e match rank
        indices, valores = ranking.calcular_metricas(df_matches, df_concat, resultado)

        #salvar métricas
        sr.salvar_resultado(nome, df_matches, dir_metricas)
        sr.salvar_resultado_categoria(nome, df_matches, dir_metricas)

In [ ]:
    a

# Resultados

## Geral

In [4]:
metodo = "USEM"
lista_resultado_usem = ir.retornar_resultados(metodo)

### Aleatório

#### 1:1

In [5]:
lista_resultado_usem[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  458.000000  458.000000  458.000000  458.000000    458.000000
mean     0.336245    0.705240    0.875546   23.528384      0.465419
std      0.472940    0.456433    0.330460   75.333368      0.409161
min      0.000000    0.000000    0.000000    1.000000      0.001050
25%      0.000000    0.000000    1.000000    1.000000      0.071429
50%      0.000000    1.000000    1.000000    3.000000      0.333333
75%      1.000000    1.000000    1.000000   14.000000      1.000000
max      1.000000    1.000000    1.000000  952.000000      1.000000

#### 5:1

In [6]:
lista_resultado_usem[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  631.000000  631.000000  631.000000   631.000000    631.000000
mean     0.259905    0.651347    0.851030    41.088748      0.390128
std      0.438930    0.476922    0.356341   126.665282      0.391598
min      0.000000    0.000000    0.000000     1.000000      0.000726
25%      0.000000    0.000000    1.000000     1.000000      0.045455
50%      0.000000    1.000000    1.000000     4.000000      0.250000
75%      1.000000    1.000000    1.000000    22.000000      1.000000
max      1.000000    1.000000    1.000000  1377.000000      1.000000

### Hard Negative

#### 1:1

In [7]:
lista_resultado_usem[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  530.000000  530.000000  530.000000  530.000000    530.000000
mean     0.286792    0.683019    0.881132   26.545283      0.424934
std      0.452691    0.465740    0.323939   74.545243      0.394945
min      0.000000    0.000000    0.000000    1.000000      0.001366
25%      0.000000    0.000000    1.000000    1.000000      0.062500
50%      0.000000    1.000000    1.000000    3.000000      0.333333
75%      1.000000    1.000000    1.000000   16.000000      1.000000
max      1.000000    1.000000    1.000000  732.000000      1.000000

#### 5:1

In [8]:
lista_resultado_usem[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  756.000000  756.000000  756.000000  756.000000    756.000000
mean     0.234127    0.641534    0.833333   41.092593      0.373084
std      0.423732    0.479867    0.372925  101.745036      0.380570
min      0.000000    0.000000    0.000000    1.000000      0.001019
25%      0.000000    0.000000    1.000000    2.000000      0.041667
50%      0.000000    1.000000    1.000000    5.000000      0.200000
75%      0.000000    1.000000    1.000000   24.000000      0.500000
max      1.000000    1.000000    1.000000  981.000000      1.000000

## Por Categoria

### Celulares

In [10]:
metodo = "USEM/celulares"
lista_resultado_usem_cell = ir.retornar_resultados(metodo)

In [11]:
lista_resultado_usem_cell[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  83.000000  83.000000  83.000000   83.000000     83.000000
mean    0.253012   0.542169   0.734940   26.951807      0.360440
std     0.437381   0.501247   0.444048   35.342886      0.403304
min     0.000000   0.000000   0.000000    1.000000      0.006536
25%     0.000000   0.000000   0.000000    1.500000      0.019608
50%     0.000000   1.000000   1.000000    7.000000      0.142857
75%     0.500000   1.000000   1.000000   51.000000      0.750000
max     1.000000   1.000000   1.000000  153.000000      1.000000

In [12]:
lista_resultado_usem_cell[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  88.000000  88.000000  88.000000   88.000000     88.000000
mean    0.181818   0.443182   0.727273   57.602273      0.278361
std     0.387905   0.499608   0.447914   86.649849      0.371010
min     0.000000   0.000000   0.000000    1.000000      0.002075
25%     0.000000   0.000000   0.000000    2.000000      0.010838
50%     0.000000   0.000000   1.000000   18.000000      0.055556
75%     0.000000   1.000000   1.000000   93.000000      0.500000
max     1.000000   1.000000   1.000000  482.000000      1.000000

In [13]:
lista_resultado_usem_cell[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  83.000000  83.000000  83.000000   83.000000     83.000000
mean    0.240964   0.506024   0.722892   35.722892      0.335509
std     0.430268   0.503003   0.450291   49.353210      0.400491
min     0.000000   0.000000   0.000000    1.000000      0.004785
25%     0.000000   0.000000   0.000000    2.000000      0.015079
50%     0.000000   1.000000   1.000000   10.000000      0.100000
75%     0.000000   1.000000   1.000000   66.500000      0.500000
max     1.000000   1.000000   1.000000  209.000000      1.000000

In [14]:
lista_resultado_usem_cell[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  121.000000  121.000000  121.000000  121.000000    121.000000
mean     0.173554    0.487603    0.677686   72.851240      0.278051
std      0.380300    0.501925    0.469306  104.752936      0.362394
min      0.000000    0.000000    0.000000    1.000000      0.002604
25%      0.000000    0.000000    0.000000    2.000000      0.006250
50%      0.000000    0.000000    1.000000   11.000000      0.090909
75%      0.000000    1.000000    1.000000  160.000000      0.500000
max      1.000000    1.000000    1.000000  384.000000      1.000000

### Fogões

In [15]:
metodo = "USEM/fogoes"
lista_resultado_usem_fogoes = ir.retornar_resultados(metodo)

In [16]:
lista_resultado_usem_fogoes[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  148.000000  148.000000  148.000000  148.000000    148.000000
mean     0.283784    0.668919    0.851351   38.709459      0.410336
std      0.452364    0.472200    0.356950  122.156209      0.400883
min      0.000000    0.000000    0.000000    1.000000      0.001050
25%      0.000000    0.000000    1.000000    1.000000      0.051974
50%      0.000000    1.000000    1.000000    4.000000      0.250000
75%      1.000000    1.000000    1.000000   19.250000      1.000000
max      1.000000    1.000000    1.000000  952.000000      1.000000

In [17]:
lista_resultado_usem_fogoes[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  220.000000  220.000000  220.000000   220.000000    220.000000
mean     0.231818    0.609091    0.827273    58.631818      0.349753
std      0.422956    0.489067    0.378873   180.016732      0.384494
min      0.000000    0.000000    0.000000     1.000000      0.000726
25%      0.000000    0.000000    1.000000     2.000000      0.041250
50%      0.000000    1.000000    1.000000     6.500000      0.154762
75%      0.000000    1.000000    1.000000    24.250000      0.500000
max      1.000000    1.000000    1.000000  1377.000000      1.000000

In [18]:
lista_resultado_usem_fogoes[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  176.000000  176.000000  176.000000  176.000000    176.000000
mean     0.232955    0.619318    0.852273   40.448864      0.359899
std      0.423920    0.486940    0.355842  107.606679      0.384108
min      0.000000    0.000000    0.000000    1.000000      0.001366
25%      0.000000    0.000000    1.000000    2.000000      0.043025
50%      0.000000    1.000000    1.000000    6.500000      0.154762
75%      0.000000    1.000000    1.000000   23.250000      0.500000
max      1.000000    1.000000    1.000000  732.000000      1.000000

In [19]:
lista_resultado_usem_fogoes[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  228.000000  228.000000  228.000000  228.000000    228.000000
mean     0.188596    0.578947    0.802632   50.881579      0.321609
std      0.392048    0.494814    0.398888  120.999468      0.362479
min      0.000000    0.000000    0.000000    1.000000      0.001330
25%      0.000000    0.000000    1.000000    2.000000      0.033065
50%      0.000000    1.000000    1.000000    6.000000      0.166667
75%      0.000000    1.000000    1.000000   30.250000      0.500000
max      1.000000    1.000000    1.000000  752.000000      1.000000

### Geladeiras

In [20]:
metodo = "USEM/geladeiras"
lista_resultado_usem_gel = ir.retornar_resultados(metodo)

In [21]:
lista_resultado_usem_gel[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  67.000000  67.000000  67.000000   67.000000     67.000000
mean    0.388060   0.895522   0.985075    6.179104      0.580101
std     0.490986   0.308188   0.122169   18.964820      0.363631
min     0.000000   0.000000   0.000000    1.000000      0.006667
25%     0.000000   1.000000   1.000000    1.000000      0.291667
50%     0.000000   1.000000   1.000000    2.000000      0.500000
75%     1.000000   1.000000   1.000000    3.500000      1.000000
max     1.000000   1.000000   1.000000  150.000000      1.000000

In [22]:
lista_resultado_usem_gel[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  96.000000  96.000000  96.000000   96.000000     96.000000
mean    0.312500   0.812500   0.979167    8.760417      0.471843
std     0.465946   0.392361   0.143576   15.986669      0.384440
min     0.000000   0.000000   0.000000    1.000000      0.009709
25%     0.000000   1.000000   1.000000    1.000000      0.142857
50%     0.000000   1.000000   1.000000    3.000000      0.333333
75%     1.000000   1.000000   1.000000    7.000000      1.000000
max     1.000000   1.000000   1.000000  103.000000      1.000000

In [23]:
lista_resultado_usem_gel[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  71.000000  71.000000  71.000000   71.000000     71.000000
mean    0.309859   0.830986   0.985915    6.901408      0.512531
std     0.465727   0.377432   0.118678   16.687168      0.360004
min     0.000000   0.000000   0.000000    1.000000      0.007812
25%     0.000000   1.000000   1.000000    1.000000      0.225000
50%     0.000000   1.000000   1.000000    2.000000      0.500000
75%     1.000000   1.000000   1.000000    4.500000      1.000000
max     1.000000   1.000000   1.000000  128.000000      1.000000

In [24]:
lista_resultado_usem_gel[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  108.000000  108.000000  108.000000  108.000000    108.000000
mean     0.305556    0.796296    0.972222    9.203704      0.452303
std      0.462790    0.404629    0.165102   16.076197      0.388118
min      0.000000    0.000000    0.000000    1.000000      0.010101
25%      0.000000    1.000000    1.000000    1.000000      0.121528
50%      0.000000    1.000000    1.000000    4.000000      0.250000
75%      1.000000    1.000000    1.000000    8.250000      1.000000
max      1.000000    1.000000    1.000000   99.000000      1.000000

### Notebooks

In [25]:
metodo = "USEM/notebooks"
lista_resultado_usem_note = ir.retornar_resultados(metodo)

In [26]:
lista_resultado_usem_note[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  88.000000  88.000000  88.000000   88.000000     88.000000
mean    0.522727   0.784091   0.931818   15.431818      0.619678
std     0.502346   0.413809   0.253502   43.477249      0.422716
min     0.000000   0.000000   0.000000    1.000000      0.002994
25%     0.000000   1.000000   1.000000    1.000000      0.111111
50%     1.000000   1.000000   1.000000    1.000000      1.000000
75%     1.000000   1.000000   1.000000    9.000000      1.000000
max     1.000000   1.000000   1.000000  334.000000      1.000000

In [27]:
lista_resultado_usem_note[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  109.000000  109.000000  109.000000  109.000000    109.000000
mean     0.385321    0.743119    0.880734   35.155963      0.519318
std      0.488919    0.438931    0.325598  125.124839      0.411817
min      0.000000    0.000000    0.000000    1.000000      0.001028
25%      0.000000    0.000000    1.000000    1.000000      0.090909
50%      0.000000    1.000000    1.000000    2.000000      0.500000
75%      1.000000    1.000000    1.000000   11.000000      1.000000
max      1.000000    1.000000    1.000000  973.000000      1.000000

In [28]:
lista_resultado_usem_note[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  116.000000  116.000000  116.000000  116.000000    116.000000
mean     0.422414    0.793103    0.956897   18.129310      0.552705
std      0.496087    0.406838    0.203971   68.158323      0.408602
min      0.000000    0.000000    0.000000    1.000000      0.001642
25%      0.000000    1.000000    1.000000    1.000000      0.142857
50%      0.000000    1.000000    1.000000    2.000000      0.500000
75%      1.000000    1.000000    1.000000    7.000000      1.000000
max      1.000000    1.000000    1.000000  609.000000      1.000000

In [29]:
lista_resultado_usem_note[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  170.000000  170.000000  170.000000  170.000000    170.000000
mean     0.329412    0.741176    0.882353   33.152941      0.482165
std      0.471388    0.439282    0.323142  117.565694      0.399414
min      0.000000    0.000000    0.000000    1.000000      0.001019
25%      0.000000    0.000000    1.000000    1.000000      0.090909
50%      0.000000    1.000000    1.000000    2.000000      0.500000
75%      1.000000    1.000000    1.000000   11.000000      1.000000
max      1.000000    1.000000    1.000000  981.000000      1.000000

### TVs

In [30]:
metodo = "USEM/tvs"
lista_resultado_usem_tvs = ir.retornar_resultados(metodo)

In [31]:
lista_resultado_usem_tvs[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  72.000000  72.000000  72.000000   72.000000     72.000000
mean    0.263889   0.694444   0.916667   14.416667      0.404403
std     0.443833   0.463875   0.278325   24.425656      0.387590
min     0.000000   0.000000   0.000000    1.000000      0.007519
25%     0.000000   0.000000   1.000000    1.000000      0.071429
50%     0.000000   1.000000   1.000000    4.000000      0.250000
75%     1.000000   1.000000   1.000000   14.000000      1.000000
max     1.000000   1.000000   1.000000  133.000000      1.000000

In [32]:
lista_resultado_usem_tvs[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  118.000000  118.000000  118.000000  118.000000    118.000000
mean     0.211864    0.669492    0.855932   27.847458      0.362941
std      0.410372    0.472402    0.352656   60.336185      0.368600
min      0.000000    0.000000    0.000000    1.000000      0.002519
25%      0.000000    0.000000    1.000000    2.000000      0.048214
50%      0.000000    1.000000    1.000000    5.000000      0.200000
75%      0.000000    1.000000    1.000000   20.750000      0.500000
max      1.000000    1.000000    1.000000  397.000000      1.000000

In [33]:
lista_resultado_usem_tvs[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

             k-1       k-10       k-50  match_rank  1/match_rank
count  84.000000  84.000000  84.000000   84.000000     84.000000
mean    0.238095   0.714286   0.904762   16.571429      0.399071
std     0.428476   0.454467   0.295307   30.029016      0.370082
min     0.000000   0.000000   0.000000    1.000000      0.007246
25%     0.000000   0.000000   1.000000    2.000000      0.071429
50%     0.000000   1.000000   1.000000    3.500000      0.291667
75%     0.000000   1.000000   1.000000   14.000000      0.500000
max     1.000000   1.000000   1.000000  138.000000      1.000000

In [34]:
lista_resultado_usem_tvs[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50  match_rank  1/match_rank
count  129.000000  129.000000  129.000000  129.000000    129.000000
mean     0.186047    0.635659    0.852713   31.162791      0.343130
std      0.390661    0.483121    0.355773   64.642622      0.355451
min      0.000000    0.000000    0.000000    1.000000      0.002762
25%      0.000000    0.000000    1.000000    2.000000      0.047619
50%      0.000000    1.000000    1.000000    5.000000      0.200000
75%      0.000000    1.000000    1.000000   21.000000      0.500000
max      1.000000    1.000000    1.000000  362.000000      1.000000