# Bibliotecas

In [2]:
import ranking
import salvar_resultados as sr

import pandas as pd
import tensorflow as tf
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

import time

ImportError: DLL load failed while importing tflite_registrar: Não foi possível encontrar o procedimento especificado.

In [ ]:
#embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-multilingual/3")

In [ ]:
#embed("aaaa")

# Constantes

# Dataset

In [ ]:
#arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']
#arquivos = ['ale_1_1']
#arquivos = ['ale_5_1']
#arquivos = ['hn_1_1']
arquivos = ['hn_5_1']

lista_df_treino = []
lista_df_teste = []
for arquivo in arquivos:

    df_treino = pd.read_csv(f"Dados/Datasets/Treino/{arquivo}_treino.csv", dtype = {'ean_1': str, 'ean_2': str})
    df_teste = pd.read_csv(f"Dados/Datasets/Teste/{arquivo}_teste.csv", dtype = {'ean_1': str, 'ean_2': str})
    lista_df_treino.append(df_treino)
    lista_df_teste.append(df_teste)

## Funções

In [ ]:
def calcular_embedding(modelo, texto):

    #embedding = modelo.encode(texto)
    embedding = modelo(texto)

    return embedding


def pipeline_usem(df):
    
    # iniciando o modelo
    modelo = hub.load("https://tfhub.dev/google/universal-sentence-encoder-multilingual/3")
    
    # Calculando embeddings
    embedding = df.apply(lambda linha: calcular_embedding(modelo, linha['titulo']), axis = 1)

    return embedding

## Universal Sentence Encoder Multilingual

In [ ]:
flag_usem = True
if flag_usem == True:

    dir_metricas = f"Dados/Resultados/Ranqueado/USEM"

    #tam = 10
    for nome, df_teste in zip(arquivos, lista_df_teste):

        #df_teste = df_teste[:tam]

        df_concat, df_matches = ranking.criar_df_teste(df_teste, "titulo_1", "titulo_2", 'titulo')

        inicio_tempo = time.time()
        embedding = pipeline_usem(df_concat)
        resultado = ranking.calcular_dis_2_vetores_cond(embedding, df_matches)

        final_tempo = time.time()

        # adicionando o tempo que demorou para o algoritmo rodar
        ranking.calcular_tempo(df_matches, inicio_tempo, final_tempo)

        # calcular acuracia_k e match rank
        indices, valores = ranking.calcular_metricas(df_matches, df_concat, resultado)

        #salvar métricas
        sr.salvar_resultado(nome, df_matches, dir_metricas)
        sr.salvar_resultado_categoria(nome, df_matches, dir_metricas)

In [ ]:
    a

# Resultados

In [4]:
arquivos = ['ale_1_1', 'ale_5_1', 'hn_1_1', 'hn_5_1']

lista_df_resultado = []
for arquivo in arquivos:

    df_r = pd.read_csv(f"Dados/Resultados/Ranqueado/USEM/{arquivo}_métricas.csv")
    lista_df_resultado.append(df_r)

ale_1_1

In [5]:
lista_df_resultado[0][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  548.000000  548.000000  548.000000   548.000000    548.000000
mean     0.631387    0.817518    0.916058    16.166058      0.695289
std      0.482870    0.386594    0.277554    70.512331      0.413436
min      0.000000    0.000000    0.000000     1.000000      0.000850
25%      0.000000    1.000000    1.000000     1.000000      0.237500
50%      1.000000    1.000000    1.000000     1.000000      1.000000
75%      1.000000    1.000000    1.000000     4.250000      1.000000
max      1.000000    1.000000    1.000000  1176.000000      1.000000

ale_5_1

In [6]:
lista_df_resultado[1][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

               k-1        k-10         k-50   match_rank  1/match_rank
count  1658.000000  1658.00000  1658.000000  1658.000000   1658.000000
mean      0.919783     0.95778     0.978287     9.448130      0.931276
std       0.271711     0.20115     0.145788    86.121744      0.237203
min       0.000000     0.00000     0.000000     1.000000      0.000445
25%       1.000000     1.00000     1.000000     1.000000      1.000000
50%       1.000000     1.00000     1.000000     1.000000      1.000000
75%       1.000000     1.00000     1.000000     1.000000      1.000000
max       1.000000     1.00000     1.000000  2249.000000      1.000000

hn_1_1

In [7]:
lista_df_resultado[2][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

              k-1        k-10        k-50   match_rank  1/match_rank
count  584.000000  584.000000  584.000000   584.000000    584.000000
mean     0.660959    0.821918    0.917808    20.518836      0.712342
std      0.473790    0.382910    0.274892    90.491642      0.412472
min      0.000000    0.000000    0.000000     1.000000      0.000816
25%      0.000000    1.000000    1.000000     1.000000      0.200000
50%      1.000000    1.000000    1.000000     1.000000      1.000000
75%      1.000000    1.000000    1.000000     5.000000      1.000000
max      1.000000    1.000000    1.000000  1225.000000      1.000000

hn_5_1

In [8]:
lista_df_resultado[3][["k-1", "k-10", "k-50", 'match_rank', '1/match_rank']].describe()

               k-1         k-10         k-50   match_rank  1/match_rank
count  1181.000000  1181.000000  1181.000000  1181.000000   1181.000000
mean      0.952583     0.970364     0.984759     6.598645      0.958573
std       0.212620     0.169653     0.122563    61.292324      0.188716
min       0.000000     0.000000     0.000000     1.000000      0.000766
25%       1.000000     1.000000     1.000000     1.000000      1.000000
50%       1.000000     1.000000     1.000000     1.000000      1.000000
75%       1.000000     1.000000     1.000000     1.000000      1.000000
max       1.000000     1.000000     1.000000  1306.000000      1.000000